<div class="search-form">
  <form class="">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="30px" fxLayoutAlign="start stretch">
      <mat-form-field appearance="outline" fxFlex="41">
        <mat-label>Fritextmatcha utbildningstext</mat-label>
        <textarea matInput placeholder=""
               [formControl]="freeTextSearchCtrl"
               id="freeTextSearchInput"
                  autocomplete="off"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="10"
                  cdkAutosizeMaxRows="10"></textarea>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <button mat-raised-button class="search-button btn-primary-education" fxFlex="15"
              (click)="search()">Matcha yrken
      </button>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="start center" class="label">
    <div>Max antal träffar ({{maxNumberOfMatchingLabel()}}):</div>
      <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      min="1"
      max="100"
      tickInterval="auto"
      [formControl]="maxNumberOfMatchesCtrl"
      (change)="updateChange($event)">
      aria-label="units"></mat-slider>
    </div>
  </form>
</div>

