<!-- Search component for searching educations -->
<div class="search-form">
  <form class="">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="30px" fxLayoutAlign="start stretch">
      <mat-form-field appearance="outline" fxFlex="31">
        <mat-label>Fritextsök</mat-label>
        <input matInput placeholder=""
               [formControl]="freeTextSearchCtrl"
               id="freeTextSearchInput"
               autocomplete="off">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <button mat-raised-button class="search-button btn-primary-education" fxFlex="15"
              (click)="search()">Sök
      </button>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="start center" class="label">
      Filter:
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="start center">
      <mat-form-field appearance="outline" color="primary"
      >
        <mat-label>Välj utbildningstyp</mat-label>
        <mat-select [(value)]="selectedEducationType" (selectionChange)="search()">
          <mat-option [value]="''">Inget filter</mat-option>
          <mat-option *ngFor="let educationType of educationTypes" [value]="educationType.key">
            {{educationType.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline" color="primary"
                      >
        <mat-label>Välj utbildningsform
        </mat-label>
          <mat-select [(value)]="selectedEducationForm" (selectionChange)="search()">
            <mat-option [value]="''">Inget filter</mat-option>
            <mat-option *ngFor="let educationForm of educationForms" [value]="educationForm.key">
              {{educationForm.value}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="15">
        <mat-label>Kommun</mat-label>
        <input type="text" matInput placeholder="Skriv kommun här"
               id="municipalitySearchInput"
               [matAutocomplete]="auto1"
               [formControl]="municipalityCodeFilterCtrl">
        <mat-icon matPrefix>search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFnMunicipality" (optionSelected)="search()">
          <mat-option *ngFor="let option of (filteredMunicipalities | async)" [value]="option">
            {{ option.value }}
          </mat-option>

        </mat-autocomplete>
      </mat-form-field>
    </div>

  </form>
</div>

