<div *ngIf="educationLight && education && education.education">
  <h3 class="title">Om utbildningen:</h3>
  <mat-card class="card-item">
    <mat-card-title><h3>{{educationLight.title}}</h3></mat-card-title>
    <mat-card-content>
      <div *ngIf="education && education.education">
        <div>Förkunskapskrav: <span
          *ngIf="education.education.recommendedPriorKnowledge">{{education.education.recommendedPriorKnowledge}}</span>
          <span *ngIf="!education.education.recommendedPriorKnowledge">-</span></div>
        <div>Nivå: <span *ngIf="education.education.level">{{education.education.level}}</span>
          <span *ngIf="!education.education.level">-</span></div>
        <div>Behörighet: <span *ngIf="education.education.eligibility">{{education.education.eligibility}}</span>
          <span *ngIf="!education.education.eligibility">-</span></div>
        <div>Typ: <span *ngIf="education.education.eligibility">{{education.education.type}}</span>
          <span *ngIf="!education.education.eligibility">-</span></div>
        <div>Poäng: <span *ngIf="education.education.credits">{{education.education.credits}}</span>
          <span *ngIf="!education.education.credits">-</span></div>
        <div>Utbildningsform: <span *ngIf="education.education.form">{{education.education.form}}</span>
          <span *ngIf="!education.education.form">-</span></div>
        <div *ngIf="education.education.description" [innerHTML]="education.education.description"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="educationLight && education && education.providers">
  <h3 class="title">Utbildningsanordnare:<span
    *ngIf="education.providers.length > showNumberOfItems"> (första {{showNumberOfItems}})</span></h3>
  <div *ngFor="let provider of education.providers.slice(0, showNumberOfItems);let i = index">

    <mat-card class="card-item">
      <mat-card-title><h3>{{provider.name}}</h3></mat-card-title>
      <mat-card-content>
        <div *ngIf="provider.url">
          <a href="{{provider.url}}" target="_blank">{{provider.url}}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="educationLight && education && education.events">
  <h3 class="title">Utbildningstillfällen<span
    *ngIf="education.events.length > showNumberOfItems"> (första {{showNumberOfItems}})</span>:</h3>

  <div *ngFor="let event of education.events.slice(0, showNumberOfItems);let i = index">
    <mat-card class="card-item">
      <mat-card-title><h3>{{getEventTitle(event)}}</h3></mat-card-title>
      <mat-card-content>
        <div *ngIf="event.provider">Utbildningsanordnare: {{event.provider}}</div>
        <div *ngIf="event.url">Länk: <a href="{{event.url}}" target="_blank">{{event.url}}</a></div>
        <div *ngIf="event.executionStart">Utbildningsperiod: {{formatDate(event.executionStart)}}<span
          *ngIf="event.executionEnd"> - {{formatDate(event.executionEnd)}}</span></div>
        <div *ngIf="event.lastApplicationDate">Sista ansökningsdag: {{formatDate(event.lastApplicationDate)}}</div>
        <div *ngIf="getMunicipality(event.municipalityCode)">Kommun: {{getMunicipality(event.municipalityCode)}}</div>
        <div *ngIf="event.timeOfStudy">Studietid: {{event.timeOfStudy}}</div>
        <div *ngIf="event.paceOfStudyPercentage">Studietakt: {{event.paceOfStudyPercentage}} %</div>
        <div *ngIf="event.languageOfInstruction">Språk: {{formatLanguage(event.languageOfInstruction)}}</div>
        <div *ngIf="event.tuitionFee">Terminsavgift: {{event.tuitionFee}}</div>
        <div *ngIf="event.itdistance">Distans: {{event.itdistance}}</div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
