<div *ngIf="matchedOccupations">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-md="30px" fxLayoutAlign="start stretch">
    <div class="about-matching-result">
      <mat-card class="card-item" *ngIf="matchedOccupations" fxFlex="100%">
        <mat-card-title>Om matchningsresultatet</mat-card-title>
        <mat-card-content>
          <div fxFlex fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="100%" fxFlex.gt-sm="50%" *ngIf="matchedOccupations.identifiedKeywordsForInput && matchedOccupations.identifiedKeywordsForInput.competencies">
              <h3>Kompetenser:</h3>
              <div *ngFor="let competence of matchedOccupations.identifiedKeywordsForInput.competencies;let i = index">
                {{competence}}
              </div>
            </div>
            <div fxFlex="100%" fxFlex.gt-sm="50%" *ngIf="matchedOccupations.identifiedKeywordsForInput && matchedOccupations.identifiedKeywordsForInput.occupations">
              <h3>Yrken:</h3>
              <div *ngFor="let occupation of matchedOccupations.identifiedKeywordsForInput.occupations;let i = index">
                {{occupation}}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="about-matching-result">

      <mat-card class="card-item" *ngIf="matchedOccupations" fxFlex="100%">
        <mat-card-title>Matchande yrken</mat-card-title>
        <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="space-around stretch" >
            <div fxFlex="100%">
              <div *ngFor="let relatedOccupation of getRelatedOccupations();let i = index" class="matched_words">
                {{relatedOccupation.occupationLabel}}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="matchOccupationsByEducationtextService.isLoadingPageResult"
         class="searchresultspinner-area">
      <mat-spinner class="education-spinner" [diameter]="40" aria-label="Laddar resultat"></mat-spinner>
      Laddar..
    </div>
  </div>
</div>

