.about-matching-result {
  margin-bottom: 25px;
}

.card-details-item {
  background: #f8f8f8;
  margin: 10px;
}

.searchresultspinner-area {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 14px;
}

.matched_words {
  margin-bottom: 1em;
}
