@import "../../styles/mixins/mixins";

.card-item {
  background: #f8f8f8;
  color: black;
  margin: 10px;
}

.title {
  margin-top: 15px;
  margin-left: 15px;
}

.card-details-item {
  background: #f8f8f8;
  margin: 10px;
}
