///* You can add global styles to this file, and also import other style files */
//
//@import "styles/variables/variables";
//@import "styles/mixins/mixins";
//
//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ff-didact-gothic {
  //font-family: 'Old Standard TT', serif;
  font-family: 'Didact Gothic', sans-serif;
}

.navigation-top .headline {
  font-size: 2rem;
  text-shadow: 4px 4px 4px #aaa;
}

.navigation-top {
  background-color: #9d9d9d;
  border-bottom: 1px solid #fff;
  padding: 0.5em;
  color: #fff;
}

.navigation-top .linkitem {
  margin-left: 1em;
  font-size: 1.2em;
}

.navigation-top .linkitem a {
  font-weight: bolder;
  color: #fff;
}

.content {
  padding-top: 0.5em;
  background-color: #ebebeb;
}

.mat-tab-labels {
  background-color: #cbcbcb;
}

.mat-tab-label {
  background-color: #a20259;
  border-bottom: 2px solid #cbcbcb;
}



.mat-tab-label-active {
  background-color: #ff1493;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.mat-tab-label {
  color:#fff;
  opacity: 1.0 !important;
}

.mat-tab-label-active {
  //background-color: #b2dbbf;
  //color: #000;
}

.mat-ink-bar  {
  background-color: #fff !important;
}

.mat-form-field-outline {
  //background-color: #f6e7cb;
  background-color: #fff;
  border-radius: 5px;
}

.mat-raised-button {
  background-color: #3a6ea5;
  max-height: 3.5em;
  color: #fff;
}

.search-button {
  margin-top: 0.2em !important;
}

.card-item {
  background: #f8f8f8;
  color: black;
  margin: 10px;
}


.searchresult-metadata-headline {
  font-weight: bold;
}


.result-list-items-container .mat-card-title h3 {
  margin:0;
  font-weight: bolder;
}

.result-list-items-container .mat-card-title {
  margin-bottom: 0;
}

.educationform-and-type {
  font-style: italic;
}

.education-summary {
  margin-top: 10px;
}
//
////::ng-deep .search-form {
//
//  .searchfields {
//  }
//
//  .searchfield-yrke, .searchfield-bransch {
//    width: 100%;
//  }
//
//  .search-button {
//    margin-bottom: 1.34375em;
//  }
//
//  .mat-expansion-panel-header-title {
//    color: black !important;
//  }
//.mat-expansion-panel-header-description {
//  color: black !important;
//}
//
//  .mat-expansion-panel {
//    color: black;
//  }
//
//  .mat-focused .mat-form-field-ripple {
//    /*change color of underline when focused*/
//    background-color: white !important;
//  }
//  .mat-focused .mat-form-field-label {
//    /*change color of label when focused*/
//    color: white !important;
//  }
//
//  .mat-form-field-outline-start,
//  .mat-form-field-outline-gap,
//  .mat-form-field-outline-end {
//    background-color: #fff;
//  }
//
//  .mat-form-field input {
//    font-size: 1.1em;
//  }
//
//  .mat-form-field, .mat-form-field-infix {
//    @include breakpoint--max-width(800px) {
//      width: auto !important;
//    }
//
//  }
//
//
//  mat-label{
//    color: rgba(0,0,0,.6);
//    font-size: 1.1em;
//  }
//
//  .search-tabs-container {
//    .tab-content, .nav-tabs {
//      .active {
//        background-color: #f8f8f8;
//      }
//    }
//
//    .tab-pane {
//      border-style: solid;
//      border-width: 1px;
//      border-top-style: none;
//      box-shadow: 3px 3px 8px #888888;
//      padding: 1em;
//    }
//
//    .nav-tabs .nav-link {
//      border-color: rgba(0,0,0,0.8);
//      border-bottom-color: (rgba(0,0,0,0));
//    }
//
//    .nav-link.active {
//      color: #000;
//    }
//
//  }
//
//  .select-search-type-container {
//    margin-left: -12px;
//
//    @include breakpoint--max-width(800px) {
//      margin-left: -10px;
//    }
//
//    padding-left: 10px;
//    color: $color--AF-blue;
//    font-weight: 700;
//
//    @include breakpoint--min-width(800px) {
//      min-width: 120px;
//    }
//
//    &.yrke {
//      //width: 70px;
//    }
//    &.bransch {
//      //width: 90px;
//    }
//    .mat-form-field-outline {
//      border-width: 1px;
//      border-left: 2px solid $color--AF-blue;
//    }
//
//    .mat-form-field-flex {
//
//    }
//
//    .mat-form-field-outline-gap {
//      border-style: none;
//      border-width: 1px;
//    }
//
//    .mat-form-field-outline-start {
//      border-left-style: none;
//      border-width: 1px;
//      border-bottom-left-radius: 0;
//      border-top-left-radius: 0;
//    }
//  }
//
////}
